{% extends "layouts.html" %}

{% block content %}

  <!-- Page content -->
<table align="center">
 <td>
    <th style="text-align:center"><h1>{{ recipe.name }}</h1></th>
 </td>
</table>

  <!-- Delete item Modal -->  
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Delete Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You are about to delete this item forever.<br>There is no going back.<br>Proceed with caution.<br>
         <div>
          <form method="POST" action="">
            {{ remove_boil_addition_form.hidden_tag() }}
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">Delete item from Boil</legend>
              {{ remove_boil_addition_form.item_id(class="custom-select") }}
            </fieldset>
            <div class="form-group">
              {{ remove_boil_addition_form.submit_3(class="btn btn-danger") }}
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

  	
  <!-- Recipe Table -->

<table class="table table-stdiped table-hover" style="table-layout: auto;white-space: nowrap;">
  <tbody>
    <tr>
      <td width="1">Style</td>
      <td>{{ recipe.style }}</td>
    </tr>
    <tr>
      <td>Abbreviation</td>
      <td>{{ recipe.abbreviation }}</td>
    </tr>
    <tr>
      <td>Iteration</td>
      <td>{{ recipe.iteration }}</td>
    </tr>
    <tr>
      <td>Brewday Date</td>
      <td>{{ recipe.brewday_date.strftime("%-d %b %y") }}</td>
    </tr>
    <tr>
      <td>Batch Size</td>
      <td>{{ recipe.batch_size }}</td>
    </tr>
    <tr>
      <td>Brewer</td>
      <td>{{ recipe.user_id }}</td>
    </tr>
  </tbody>
</table>
<div>
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
</div>
<div class="p-3 mb-2 bg-primary text-white text-center" style="position:sticky;top:60px;"><h2>Brewing</h2></div>

<div class="p-3 mb-2 bg-secondary text-white text-center" style="position:sticky;top:140px;" id="boil_scroll">
  <h3>Boil</h3></div>
<!-- <div class="boil_scroll"> -->
<!-- Flash message for successful boil addition -->

<div id="flash_message_fadeout">
{% with messages = get_flashed_messages(category_filter=['success_boil']) %}

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success">
        {{ message }}
      </div>
    {% endfor %}    
  {% endif %}

{% endwith %}
</div>

  <!-- Build table of boil additions, sorted by time -->
<div>
  <form method="POST" action="">
    {{  form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Add New Boil Addition</legend>
      <div class="form-group"> 
        {{ form.description.label(class="form-control-label") }}
        {% if form.description.errors %}
          {{ form.description(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.description.errors%}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.description(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group"> 
        {{ form.time.label(class="form-control-label") }}
        {% if form.time.errors %}
          {{ form.time(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.time.errors%}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.time(class="form-control form-control-lg") }}
        {% endif %}
      </div>
    </fieldset>
    <div class="form-group"> 
      {{ form.submit_1(class="btn btn-outline-info") }}
    </div>
  </form>
</div>

<table class="table table-striped table-hover">
      <thead class="thead-dark">
          <tr>
            <th scope="col">Time (min)</th>
            <th scope="col">Description</th>
            <th scope="col">End Time</th>            
            <th scope="col">Countdown Timer</th>
            <th scope="col">Audio</th>
          </tr>
      </thead>
      {% for key,value in boil_table.iterrows() %}
          <tr>
            {% if value['addition_group_ranking'] == 1 %}
              <td rowspan="{{ value['addition_group_count'] }}">{{ value['time'] }}</td>
            {% endif %}
            <td>{{ value['description'] }}</td>
            {% if value['end_datetime'] == value['end_datetime'] %}
              <td>{{ value['datetime_string'] }}</td>   
              <td><div id="timer_{{ value['id'] }}">tbc...</div></td>
              <td><audio id="audio_{{ value['id'] }}" preload="auto" controls="false" 
              src="{{ sayit(text=value['say_it'])}}"></audio></td> 
            {% else %}
              <td colspan="3">Timer not started</td>
            {% endif %}
          </tr>
      {% endfor %}
  </table>

  <!-- include button to start timer -->
<div>
  <form method="POST" action="">
    <div class="form-group"> 
      {{ start_timer_form.hidden_tag() }}
    </div>
    <div class="form-group"> 
      {{ start_timer_form.submit_2(class="btn btn-outline-info") }}
    </div>
  </form>
</div>

<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalLong">
          Delete item
        </button>

<div>
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
</div>

<div class="p-3 mb-2 bg-secondary text-white text-center" style="position:sticky;top:140px;"><h3>Chill, Whirlpool & Pitch</h3></div>
<div>
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
</div>

<div class="p-3 mb-2 bg-secondary text-white text-center" style="position:sticky;top:140px;"><h3>Fermentation</h3></div>
<div>
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
</div>


<div>
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
  <br>lorem ipsum
</div>

<script>
// Update the count down every 1 second

function innerTimer(countDownDate, target_element, i, audio_tag, sayit) {

    // Get today's date and time
    var now = new Date().getTime();
    var end = new Date(countDownDate).getTime();
    // Find the distance between now and the count down date
    var distance = end - now;

    // Time calculations for days, hours, minutes and seconds
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Display the result in the element with id="demo"
    document.getElementById(target_element).innerHTML = hours + "h " + minutes + "m " + seconds + "s ";

    // If the count down is finished, write some text
    if (distance < 0) {
      clearInterval(timers[i]);
      document.getElementById(target_element).innerHTML = "EXPIRED";
      if (sayit) {
        $(audio_tag)[0].play();  
      }
    }
  }
</script>

<script>
// jquery function to clear flash messages after certain time.
$(function() {
   $('#flash_message_fadeout').delay(500).fadeIn('normal', function() {
      $(this).delay(2500).fadeOut();
   });
});
</script>

<script>
  var timers = [];
  var end_times = [];
  // var descriptions = [];
  var ids = [];
  var sayit = [];
</script>

{% for key,value in boil_table.iterrows() %}
  {% if value['end_datetime'] != None %}
    <script>
      end_times.push("{{ value['end_datetime'] }}");
      ids.push("{{ value['id'] }}");
    </script>
    {% if value['addition_group_ranking'] == 1 %}
      <script>
        var now = new Date().getTime();
        var end = new Date("{{ value['end_datetime'] }}").getTime();
        if (end > now) {
          sayit.push(true);
        } else {
            sayit.push(false);
        }
      </script>
    {% else %}
    <script>  
      sayit.push(false);
    </script>
    {% endif %}
  {% endif %}
{% endfor %}

<!-- once built, pass it to the javascript loop function to start timers. -->
<script>
  if (end_times.length > 0) {
    for (var i=0;i < end_times.length; ++i) {
      timers[i] = setInterval(innerTimer, 1000, end_times[i], "timer_" + ids[i], i, "#audio_" + ids[i], sayit[i]);
    }
  }
</script>

{% if scroll is not none %}
<script type="application/javascript">

const id = "{{ scroll }}";
const yOffset = -138; 
const element = document.getElementById(id);
const y = element.getBoundingClientRect().top + window.pageYOffset + yOffset;

window.scrollTo({top: y, behavior: 'smooth'});

</script>
{% endif %}

{% endblock content %}
