{% extends "layouts.html" %}

{% block content %}

	<div style="max-width:2000px;margin-top:46px;width:80%">

		<table align="center">
		         <tr>
		            <td style="text-align:center"><h1>zym home page</h1></td>
		         </tr>
		</table>

		<br>
		<div class="w3-bar">
			<button class="w3-bar-item w3-button w3-black" onclick="window.location.href = '/recipes';">Recipes</button>
			<button class="w3-bar-item w3-button w3-teal" href='/calculators'>Calculators</button>
			<button class="w3-bar-item w3-button w3-red" href='/ingredients'>Ingredients</button>
			<button class="w3-bar-item w3-button w3-yellow" onclick="window.location.href = '/newrecipe';">Add New Recipe</button>
		</div>
	<!-- End Page Content -->
	</div>

{% endblock content %}