<!DOCTYPE html>
<html lang="en">
<title>ZYM</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <link rel="icon" href="data/logo/favicon.png" sizes="16x16" type="image/png"> -->
    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
<style>
#recipes {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#recipes td, #recipes th {
  border: 1px solid #ddd;
  padding: 8px;
}

#recipes tr:nth-child(even){background-color: #f2f2f2;}

#recipes tr:hover {background-color: #ddd;}

#recipes th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}



body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

<!-- Navbar -->

<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/home" class="w3-bar-item w3-button w3-padding-large">  

      <div >
        <img src="static/logo/nous_white_blacklines_on_alpha.png" alt="ZYM" style="height:30px">
      </div>
    </a>
    <div class="w3-dropdown-hover w3-hide-small">

      <button class="w3-padding-large w3-button" title="test1">Test 1<i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
<!--         <a href="/soccer" class="w3-bar-item w3-button">Soccer Home</a>
        <a href="/soccer/reality" class="w3-bar-item w3-button">Reality</a>
        <a href="/soccer/fantasy" class="w3-bar-item w3-button">Fantasy</a> -->
      </div>
    </div>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="Test2">Test2 <i class="fa fa-caret-down"></i></button>     
<!--       <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="/football/reality" class="w3-bar-item w3-button">Reality</a>
        <a href="/football/fantasy" class="w3-bar-item w3-button">Fantasy</a> -->
      </div>
    </div>
  </div>
</div>


<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<!-- <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="/soccer" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Test1</a>
  <a href="/football" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Test2</a>
</div> -->

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px;width:80%">

	<table align="center">
	         <tr>
	            <td style="text-align:center"><h1>Recipes</h1></td>
	         </tr>
	</table>
	
<!-- Recipe Table -->

<table id="recipes">
    <tr>
        <td>Name</td>
        <td>Style</td>
    </tr>
    {% for bevvy in bevs_data %}
        <tr>
            <td>{{ bevvy.name|safe }}</td>
            <td>{{ bevvy.style|safe }}</td>
        </tr>
    {% endfor %}
</table>


<!-- End Page Content -->
</div>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>



